<div class="content">
  <div class="row ml-4 ">
    <div class="col-md-6">  
      <div class="card  progress-card" style="width:41rem;">
        <h2 class="card-header">All Unfished Tasks</h2>
        <div class="card-body">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= @progress %>%" aria-valuenow="<%= @progress %>" aria-valuemin="0" aria-valuemax="100"><div class="text-center" ><%= @progress %>%</div></div>
          </div>
        </div>
      </div>

      <table class="">    
        <tbody class="card in-progress-main-card " style="width:41rem;">
          <tr class="card-header ">
            <th><b>In Progress</b></th>
          </tr>
          <% @tasks.each do |task|%> 
              <tr  class="card  pending-card  " >
                <td class="card-body in-progress">
                  <b class="text-light"><%= task.task_name%></b>
                  <%= link_to image_tag("https://img.icons8.com/material-outlined/25/000000/visible.png"),task,class:"bg-light  right rounded-circle badge"%>
                  <%= link_to image_tag("https://img.icons8.com/metro/26/000000/pencil.png"),edit_task_path(task), class:"bg-primary  right rounded-circle badge"%>
                  <%= link_to image_tag("https://img.icons8.com/windows/25/000000/trash.png"),task, method: :delete, data: { confirm: 'Are you sure?' },class:"bg-danger right rounded-circle badge" %>  
                  <br>
                  <%= task.label_name%><br>
                  <%= task.start_date.strftime("%B %e, %Y")%><br>          
                  <%= task.deadline.strftime("%B %e, %Y")  %> <br>        
                  <span><%= task.status%><br>         
                    <%if task.priority == "1"%>
                      <%=  task.priority = "High"%>
                    <%elsif task.priority == "2"%>
                      <%=  task.priority = "Medium"%>
                    <%elsif task.priority == "3"%>
                      <%=  task.priority = "Low"%>
                    <%else%>
                    <%end%></span>
                </td>          
              </tr>
          <%end%>
          <hr>      
        </tbody>           
      </table>
      <div class="d-flex justify-content-center">
      <%= paginate @tasks%> 
      </div> 
    </div>

    <div class="col-md-6">    
      <table class="">    
        <tbody class="card finished-card" style="width:30rem;">
          <tr class="card-header ">
            <th ><b>Finished</b></th>
          </tr>
          <% @finished.each do |task|%> 
              <tr  class="card  pending-card finished-card-body " >
                <td class="card-body in-progress">
                  <b class="text-light"><%= task.task_name%></b>              
                  <%= link_to image_tag("https://img.icons8.com/windows/25/000000/trash.png"),task, method: :delete, data: { confirm: 'Are you sure?' },class:"bg-danger float-right rounded-circle badge" %>  
                  <br>
                  <%= task.label_name%><br>
                  <%= task.start_date.strftime("%B %e, %Y")%><br>          
                  <%= task.deadline.strftime("%B %e, %Y")  %> <br>        
                  <span><%= task.status%>         
                    <%if task.priority == "1"%>
                      <%=  task.priority = "High"%>
                    <%elsif task.priority == "2"%>
                      <%=  task.priority = "Medium"%>
                    <%elsif task.priority == "3"%>
                      <%=  task.priority = "Low"%>
                    <%else%>
                    <%end%></span>
                </td>          
              </tr>
          <%end%>
          <hr>      
        </tbody>      
      </table> 
    </div>
  </div>
</div>