<div class="content">
    <div class="row mt-5">    
    <div class="col-md-12 ">
      <%= search_form_for @search do |f|%>
        <div class="container">
        <div class="card bg-main text-light" >
          <div class="card-body row search">
          <div class="form-group col-md-3">
            <%= f.label :task_name_cont, "Search by Task_name"%>          
            <%= f.text_field :task_name_cont ,class:"form-control"%>
            </div>
            <div class="form-group col-md-3">
              <%= f.label :status_cont, "Search by Status"%>
              <%= f.text_field :status_cont ,class:"form-control" %>
            </div>
            <div class="form-group col-md-6">
              <%= f.label :task_name_or_status_cont, "Search by Task_name or Status"%>
              <%= f.text_field :task_name_or_status_cont ,class:"form-control" %>
            </div>
          </div>
          <div class="actions"><%= f.submit "Search", class:"btn btn-dark btn-block" %></div>
        </div>
        </div>
      <%end%>
    </div>    
  </div>
  <div class="">
    <div class="container">
    <table class="table table-sm all-tasks mt-2 text-light">
        <thead>
        <tr>
            <th>Task name</th>
            <th>Label name</th>
            <th>Starts on</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Priority</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <% @tasks.each do |task|%> 
            <tr>
            <td><%= task.task_name%></td>
            <td><%= task.label_name%></td>
            <td><%= task.start_date.strftime("%B %e, %Y")%></td>
            <td>
                <%= task.deadline.strftime("%B %e, %Y")  %>               
            </td>
            <td><%= task.status%></td>
            <td>
              <%if task.priority == "1"%>
                <%=  task.priority = "High"%>
              <%elsif task.priority == "2"%>
                <%=  task.priority = "Medium"%>
              <%elsif task.priority == "3"%>
                <%=  task.priority = "Low"%>
              <%else%>
              <%end%>
            </td>
            <td><%=link_to image_tag("https://img.icons8.com/material-outlined/25/000000/visible.png"),task ,class:"btn btn-secondary"%></td>
            <td><%=link_to image_tag("pencil.png",alt: 'Edit'),edit_task_path(task) , class:"btn btn-primary "%></td>
            <td><%= link_to image_tag("https://img.icons8.com/windows/25/000000/trash.png"), task, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
            </tr>
        <%end%>
        </tbody>        
    </table> 
    <%= paginate @tasks%> 
    </div>  
    <div class="col-md-12">          
      <span class="text-light">Sort by:</span> &nbsp;
      <div class="row">
        <div class="col-md-4">
          <%= link_to 'Created Date ',tasks_path(sort_with_created_at:"true") , class:"btn btn-light btn-block" %>
        </div>
        <div class="col-md-4">
          <%= link_to 'Deadline',tasks_path(sort_with_deadline:"true") , class:"btn btn-light btn-block"%>  
        </div>
        <div class="col-md-4">
          <%= link_to 'Priority',tasks_path(sort_with_priority:"true") , class:"btn btn-light btn-block"%>  
        </div>
      </div>
    </div>
  </div>
</div>