<%= render "navigation"%>
<div class="d-flex justify-content-center">
  <div class="">          
    Sort by: &nbsp;
    <%= link_to 'Deadline',sorted_path , class:"btn btn-light" %>
    <%= link_to 'Created Date',tasks_path , class:"btn btn-light"%>    
  </div><br>
  <table class="table all-tasks mt-3">
    <thead>
      <tr>
        <th>Task name</th>
        <th>Label name</th>
        <th>Starts on</th>
        <th>Deadline</th>
        <th>Status</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task|%> 
        <tr>
          <td><%= task.task_name%></td>
          <td><%= task.label_name%></td>
          <td><%= task.start_date.strftime("%B %e, %Y")%></td>
          <td>
            <%if task.deadline.present?%>  
              <%= task.deadline.strftime("%B %e, %Y")  %>              
            <%else%>
              <%= link_to "Add Deadline",edit_task_path(task) , class:"btn btn-warning  "%><br>
            <%end%>
          </td>
          <td><%= task.status%></td>
          <td><%= link_to "Show",task ,class:"btn btn-warning"%></td>
          <td><%= link_to "Edit",edit_task_path(task) , class:"btn btn-warning "%></td>
          <td><%= link_to "Delete", task, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
  </div>

