<div class="d-flex justify-content-center mt-5">
  <div class="card mt-5 bg-main col-6 mt-3 text-light">
    <p class="card-body text-center lead">      
      Task name: <%= @task.task_name %>  <br>
      Label name: <%= @task.label_name %>  <br>
      Start date: <%= @task.start_date %>  <br>
      <%if @task.deadline.present?%>
        Deadline: <%= @task.deadline %><br>
      <%else%>
      <%end%>
      Status: <%= @task.status %><br>    
    </p>  
    <%= link_to 'Back', tasks_path , class: "btn btn-dark"%>  
  </div>
</div>
